@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@300;500;600;700&family=Roboto:ital,wght@0,300;0,500;0,700;1,500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}

:root {
  background-color: #fff;
  --txtColor: #fff;
  --selectionColor: #f88db9;
  --navColor: #f88db9;
  --color3: #132043;
  --color4: #000;
  --bgProduct: #eeeeee;
  --cardColor: #fff;
  --textcard2: #a3a1a1;
  --textcard1: #000;
}

::selection {
  background: var(--selectionColor);
  color: #FFFFFF;
}

::-moz-selection {
  background: var(--selectionColor);
  color: #FFFFFF;
}

::-webkit-selection {
  background: var(--selectionColor);
  color: #FFFFFF;
}

body {
  /* height: 100vh; */
  min-height: 75rem;
  padding-top: 3rem;
}

body.dark {
  background-color: #060101;
  --txtColor: #f88db9;
  --navColor: #060101;
  --color3: #CED8E1;
  --color4: #f88db9;
  --bgProduct: #2a2929;
  --textcard1: #fff;
  --textcard2: #d8d2d2;
  --cardColor: #f88db9;
}

/* navbar style */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: var(--navColor);
  z-index: 100;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .logo a {
  font-size: 30px;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color: var(--txtColor);
}

.nav-bar .nav-links {
  display: flex;
  align-items: center !important;
  /* justify-content: center; */
}

.nav-bar .nav-links li {
  list-style: none;
  margin: 0 5px;
}

.nav-links li a {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: var(--txtColor);
  text-decoration: none;
  padding: 10px 10px;
}

.nav-links li a::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 40px;
  bottom: 1px;
  transition: all .3 ease;
  opacity: 0;
  background-color: var(--txtColor);
}


nav .nav-bar .sidebar-open {
  color: var(--txtColor);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-links li:hover a::before {
  opacity: 1;
}

.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .search-toogle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.dark-light i,
.search-toogle i {
  position: absolute;
  color: var(--txtColor);
  font-size: 22px;
  cursor: pointer;
}

.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}

.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}

.search-toogle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.search-toogle.active i.cancel {
  opacity: 1;
  pointer-events: none;
}

.search-toogle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;

}

.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  background-color: var(--navColor);
  padding: 3px;
  border-radius: 6px;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all .4s ease;
}

.search-toogle.active~.search-field {
  opacity: 1;
  pointer-events: auto;
  bottom: -74px;
}

.searchBox .search-field::before {
  content: "";
  position: absolute;
  height: 12px;
  right: 14px;
  top: -4px;
  width: 12px;
  background-color: var(--navColor);
  transform: rotate(-45deg);
  z-index: -1;
}

.searchBox .search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--navColor);
  color: var(--txtColor);
}

.search-field i {
  position: absolute;
  color: var(--txtColor);
  right: 15px;
  font-size: 22px;
}

/* Header style */
.header {
  padding: 2rem;
  display: flex;
  background-image: url('/vendor/img/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.text-judul {
  /* width: 70vw; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0 140px;
  justify-content: center;
}

.text-judul h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

/* Landing Product */
.products {
  padding: 100px 0px;
  max-width: 100vw;
  background-color: var(--bgProduct);
}

.products p {
  color: var(--color4);
  text-align: center;
}

.products p a {
  color: var(--color4);
  text-align: center;
}

.product-wrapper h1 {
  text-transform: capitalize;
  text-align: center;
  color: var(--color4);
}

.product-wrapper {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.product-wrapper ul {
  display: flex;
  gap: 10px;
  /* border: #000 solid 1px; */
}

.product-wrapper ul li {
  list-style: none;

}

.product-wrapper ul li a {
  text-decoration: none;
  padding: 5px 30px;
  font-size: .9rem;
  border: solid 1px #E56399;
  border-radius: 20px;
  color: var(--color4);
  background-color: var(--bgProduct);
}

.product-wrapper ul li a.active,
.product-wrapper ul li a:hover {
  background-color: #E56399;
  color: white;

}




/* Card Product */
.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-centerY-centerX {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.page-wrapper {
  width: 230px;
  height: 100%;
  cursor: pointer;
  /* display: table; */
}

/* .page-wrapper .page-inner {
  display: table-cell; 
  vertical-align: middle;
} */

.el-wrapper {
  width: 360px;
  padding: 10px;
  margin: 15px auto;
  border-radius: 10px 10px 0 0;
  background-color: var(--cardColor);
}

@media (max-width: 991px) {
  .el-wrapper {
    width: 345px;
  }

  .site-footer [class^=col-] {
    margin-bottom: 30px
  }

  .product-wrapper .category ul li a {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .el-wrapper {
    width: 290px;
    margin: 30px auto;
  }

  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }



}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

.social-icons li.title {
  display: block;
  margin-right: 0;
  font-weight: 600
}


.el-wrapper:hover .h-bg {
  left: 0px;
}

.el-wrapper:hover .price {
  left: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  /* color: #818181; */
  opacity: 0;
}

.el-wrapper:hover .add-to-cart {
  left: 50%;
}

.el-wrapper:hover .img {
  /* webkit-filter: blur(7px); */
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
  opacity: 0.4;
}

.el-wrapper:hover .info-inner {
  bottom: 155px;
}

.el-wrapper:hover .a-size {
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
  bottom: 50px;
  opacity: 1;
}

.el-wrapper .box-down {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.el-wrapper .box-up {
  width: 100%;
  height: 360px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.el-wrapper .img {
  padding: 20px 0;
  width: 100%;
  /* height: 300px; */
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
}

.h-bg {
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  width: 660px;
  height: 100%;
  background-color: #E56399;
  position: absolute;
  left: -659px;
}

.h-bg .h-bg-inner {
  width: 50%;
  height: 100%;
  /* background-color: #e5d4ce; */
}

.info-inner {
  -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: 25px;
}

.info-inner .p-name,
.info-inner .p-company {
  display: block;
}

.info-inner .p-name {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: var(--textcard1)
}

.info-inner .p-company a {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--textcard2);
}

.a-size {
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: -20px;
  font-family: "PT Sans", sans-serif;
  color: var(--textcard2);
  opacity: 0;
}

.a-size .size {
  color: #252525;
}

.cart {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.cart .price {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: var(--textcard1);
}

.cart .add-to-cart {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 120%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  white-space: nowrap;
}

@media (max-width: 790px) {

  /* Navbar Style */

  nav .nav-bar {
    padding: 0 20px;
  }

  nav .nav-bar .sidebar-open {
    display: block;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 50vw;
    left: -100vw;
    top: 0;
    padding: 20px;
    background-color: var(--navColor);
    z-index: 100;
    transition: all .4s ease;

  }

  nav.active .menu {
    left: -0vw;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .sidebar-close {
    color: var(--txtColor);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li a {
    display: block;
    margin-top: 20px;
  }

  /* header */
  .header {
    width: 100vw;

  }

  .text-judul {
    padding: 50px 0;
    display: block;
  }

  .el-wrapper {
    width: 290px;
    margin: 30px auto;
  }

  .products {
    max-width: 100vw;
  }

  .product-wrapper {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    gap: 30px;
  }

  .product-wrapper h1 {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .product-wrapper ul li a {
    text-decoration: none;
    padding: 5px 20px;
    font-size: .9rem;
    border: solid 1px #E56399;
    border-radius: 20px;
    color: var(--color4);
    background-color: var(--bgProduct);
  }
}

@media (max-width: 40em) {
  .text-judul h1 {
    font-size: 1.7rem;
  }

  .text-judul p {
    font-size: 1rem;
  }

  .product-wrapper {
    width: 100%;
  }


  .product-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    flex-direction: column;
  }

  .product-wrapper ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

}

/* Footer */
.site-footer {
  background-color: var(--navColor);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: var(--txtColor);

}

.site-footer hr {
  border-top-color: var(--txtColor);
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: var(--txtColor);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: var(--txtColor);
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: var(--txtColor);
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

.copyright-text a {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}

/* Cta Banner */
.services {
  background-image: url('https://cdn0-production-images-kly.akamaized.net/_hAtmxCQEZueui8hMTQo3gb48IE=/0x594:5760x3840/1200x675/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/2603929/original/020954300_1546836610-trung_nguyen_pexels-photo-1630864.JPG');
  background-repeat: no-repeat;
  max-width: 100vw;
  background-size: cover;
  display: flex;
  padding: 75px 20px;
  background-attachment: fixed;
  background-position: center;
  min-height: 400px;
  align-items: center;
  justify-content: space-between;
}

.services .text {
  width: 60vw;
  padding: 0px 20px;
  color: var(--txtColor);
}

.services .text h4 {
  font-size: 2rem;

}

.services button a {
  color: var(--txtColor);
}

.services button {
  border: none;
  border-radius: 20px;
  text-decoration: none;
  background-color: var(--navColor);
  color: var(--txtColor);
  padding: 10px;
}

.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

.btn-foo {
  background-color: var(--navColor) !important;
  color: var(--txtColor) !important;
}

.about .about-judul {
  margin-top: 70px;
  padding: 10px 0px;
  background-image: url('https://i.pinimg.com/1200x/a4/58/b1/a458b1aa3626134858a35821efedd9f8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.wa {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}
/* index blog card */
.contain {
  padding-top: 50px;
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contain .post {
  width: 350px;
  height: 500px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

.contain .post:hover .header_post {
  margin-top: -20px;
}

.contain .post:hover .body_post {
  height: 50%;
}

/* .post_title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.post_description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contain .post:hover img {
  transform: translatey(-10px) translatex(-5px) scale(1.05);
}

.contain .post .header_post {
  width: 100%;
  height: 40%;
  background: #ddd;
  position: absolute;
  top: 0;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -o-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

.contain .post .header_post img {
  max-width: 100%;
  height: auto;
  transition: ease-in-out 600ms;
}

.contain .post .body_post {
  width: 100%;
  height: 60%;
  background: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -o-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  cursor: pointer;
}

.contain .post .body_post .post_content {
  width: 80%;
  height: 80%;
  background: #fff;
  position: relative;
}

.contain .post .body_post .post_content h1 {
  font-size: 20px;
  font-weight: bold;
}

.contain .post .body_post .post_content p {
  font-size: 14px;
  font-weight: normal;
}

.contain .post .body_post .post_content .container_infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 25px;
}

.contain .post .body_post .post_content .container_infos .postedBy {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.contain .post .body_post .post_content .container_infos .postedBy span {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 1px;
  font-weight: bold;
}

.contain .post .body_post .post_content .container_infos .container_tags {
  display: flex;
  flex-direction: column;
}

.contain .post .body_post .post_content .container_infos .container_tags span {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 1px;
  font-weight: bold;
}

.contain .post .body_post .post_content .container_infos .container_tags .tags ul {
  display: flex;
}

.contain .post .body_post .post_content .container_infos .container_tags .tags ul li {
  font-size: 12px;
  letter-spacing: 2px;
  list-style: none;
  margin-left: 8px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.contain .post .body_post .post_content .container_infos .container_tags .tags ul li:first-child {
  margin-left: 0px;
}

.contain .post .body_post .post_content .container_infos .container_tags .tags ul li:before {
  content: "";
  text-align: center;
  width: 100%;
  height: 5px;
  background: #FC6042;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  z-index: -1;
  padding: 0px 1px;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  -o-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 320ms;
}

.contain .post .body_post .post_content .container_infos .container_tags .tags ul li:hover:before {
  height: 18px;
}


@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes icon {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.3) rotate(-2deg);
  }

  100% {
    opacity: 1;
    bottom: 0px;
  }
}

/* Blog Card */

.artikel {
  background: #f1f1f1;
  padding-top: 20px;
  /* display: flex; */
  /* flex-direction: column; */
  font-size: 1rem;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.blog-card a {
  color: inherit;
}

.blog-card a:hover {
  color: #5ad67d;
}

.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.blog-card .details a {
  text-decoration: dotted underline;
}

.blog-card .details ul li {
  display: inline-block;
}

.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}

.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}

.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}

.blog-card .details .tags li {
  margin-right: 2px;
}

.blog-card .details .tags li:first-child {
  margin-left: -4px;
}

.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card .description .read-more {
  text-align: right;
}

.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}

.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.blog-card:hover .details {
  left: 0%;
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }

  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }

  .blog-card .description {
    flex-basis: 60%;
  }

  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .blog-card.alt {
    flex-direction: row-reverse;
  }

  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }

  .blog-card.alt .details {
    padding-left: 25px;
  }
}